*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.main-header{
    background-color: black;
    color:white;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    font-size:20px;
    margin-top:100px;
}
.form-title{
    color:red;
    font-weight:600;
    font-size:18px;
}
.middle-content{
    margin-top:20px;
}
.send-btn{
    border: 1px solid #cc9966;
    background: none;
    margin-top:30px;
    padding:6px 30px;
}
.send-btn:hover{
    background-color: #cc9966;
    color:white;
}


/* login-form */

.login_form {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.login_form  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login_form  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login_form button:hover,
.login_form button:active,
.login_form button:focus {
    background: #43A047;
}

.message {
    margin-top: 30px;
    text-align: left;
}

@media (max-width:500px) {

    .login_form {
        margin: 50px auto 5px;
    }
}

@media (min-width:600px) and (max-width:1000px) {
    .login_form {
        margin: 120px auto 50px;
    }
}

/* signup-form */

.signup_form {
    position: relative;
    background: #FFFFFF;
    max-width: 500px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.signup_form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.signup_form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    /* background: #4CAF50; */
    width: 100%;
    border: 0.em;
    padding: 10px;
    color: black;
    border-color: #DF9A06;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}


.signup_form button:hover,
.signup_form button:active,
.signup_form button:focus {
    background: #DF9A06;
    color: #f2f2f2;
}

.message {
    margin-top: 30px;
    text-align: center;
}

.group .checkbox {
    
    white-space: nowrap;
    display: inline-block;
}

@media (max-width:500px) {

    .signup_form {
        margin: 50px auto 5px;
    }
}

@media (min-width:600px) and (max-width:1000px) {
    .signup_form {
        margin: 120px auto 50px;
    }
}